<div class="row" style="margin-top:0px;">

  <div class="col-md-4 col-md-offset-4 text-center" style="margin-top:110px;">
    <h3
      style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:white;font-weight: 800;">
      Reset Password </h3>
    <hr>
    <form #passwordresetForm="ngForm" (ngSubmit)="passwordreset()">
      <mat-form-field style="width: 100%;" floatLabel="auto" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="  Enter Password" style="margin-top: 10px;" name="password"
          [(ngModel)]="password">
      </mat-form-field>
      <mat-form-field style="width: 100%;" floatLabel="auto" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="  Enter Password" style="margin-top: 10px;" name="confirmpassword"
          [(ngModel)]="confirmpassword">
      </mat-form-field>
      <button mat-raised-button type="submit"
        style="background-color:white;color:darkgoldenrod;margin-top: 15px;">SUBMIT DETAILS</button>
    </form>
    <hr>
    <a style="color:white" [routerLink]="['/login']">Already Registered ! Login Now</a>
    <hr style="background-color: darkgoldenrod;">
    <a style="color:white" [routerLink]="['/register']">Dont have an account ? Register Now</a>

  </div>
</div>