.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:darkgoldenrod;
    border-radius: 5px;
  }

  ::ng-deep .mat-form-field-label {
    color:white!important
}

input{
    color:white;
}

.compgreen{
    color:green;
}

.compwhite{
    color:yellow;
}