<div class= "background" >
 
<div style="background-color: rgba(0,0,0,0.3);width:100%;" class="opacity">
  <mat-toolbar style="background-color:rgba(0,0,0,0.0);color:white">
    <mat-toolbar-row>
      <mat-icon style="color: white;">emoji_people</mat-icon>
      <span>TODO ShareBook</span>
    </mat-toolbar-row>
  </mat-toolbar> 
  <div class="container-fluid" style="margin-bottom: 10px;">
    <app-alert></app-alert>
   <router-outlet></router-outlet>
   
  </div>
 <!-- <div class="footer">
  <mat-toolbar style="background-color:rgba(0,0,0,0.7);color:white;font-size:1.5rem;">
    <mat-toolbar-row>
      <p class="span">Designed & Developed by Immanuel VJ</p>
    </mat-toolbar-row>
  </mat-toolbar> 
</div> -->
</div>
</div>