::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:darkgoldenrod;
    border-radius: 5px;
    height: 80%;
    
  }

  ::ng-deep .mat-form-field-label {
    color:white!important
}

input{
    color: white;
}

@media only screen and (max-width:1000px) {
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        height:80%;
      }

  }
