::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:darkgoldenrod;
    border-radius: 5px;
  }

  ::ng-deep .mat-form-field-label {
    color:white!important
}

input{
    color:white;
}