


<div class="row" style="margin-top:0px;">

  <div class="col-md-4 col-md-offset-4 text-center" style="margin-top:110px;">
    <h3
      style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:white;font-weight: 800;">
      Welcome Back ! Sign-In</h3>
    <hr>
    <form #loginForm="ngForm" (ngSubmit)="signin()">
      <mat-form-field style="width: 100%;" floatLabel="auto" appearance="outline">
        <mat-label>UserName</mat-label>
        <mat-icon style="color:darkgoldenrod" matPrefix>person</mat-icon>
        <input type="text" matInput placeholder="  Enter Username" style="margin-top: 10px;" name="userName"
          [(ngModel)]="userName">
      </mat-form-field>
      <mat-form-field style="width: 100%;" floatLabel="auto" appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon style="color:darkgoldenrod;" matPrefix>policy</mat-icon>
        <input type="password" matInput placeholder="  Enter Password" style="margin-top:10px;" name="password"
          [(ngModel)]="password">
      </mat-form-field>
      <a style="color: white;text-align: right" [routerLink]="['/reset']">Forgot Password or UserName ?</a><br>
      <button mat-raised-button type="submit" [disabled]="showSpinner"
        style="background-color:white;color:darkgoldenrod;margin-top: 15px;width:auto" ><span><mat-spinner [diameter]="30" style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner></span>LOGIN </button>
    </form>
    <hr style="background-color: darkgoldenrod;">
    <a style="color:white" [routerLink]="['/register']">Dont have an account ? Register Now</a>
  </div>
</div>